.post
    padding 8px

    div
        display flex
        flex-direction column
        margin-bottom 36px
        color #666

        span
            line-height 24px
            font-size 14px
        a
            text-decoration none
            &:hover
                text-decoration underline
    h1
        border-bottom 1px solid #333
    p
        line-height 28px
        text-indent 2em
        font-family '华文中宋'