.post
    padding 16px

    .what
        display flex
        flex-direction column
        margin-bottom 36px
        color #666

        span
            line-height 24px
            font-size 14px
        a
            text-decoration none
            &:hover
                text-decoration underline
    h1
        border-bottom 1px solid #333
        padding-bottom 8px
    h1, h2, h3, h4, h5, p
        font-family '华文中宋'
    p
        line-height 28px
        text-indent 2em