.post
    
    h1, h2, h3, h4, h5, p
        font-family "华文中宋"
    h2
        margin 16px 0
    p
        line-height 26px
        text-indent 2em
        margin 12px 0

    a:hover
        text-decoration underline
